# FastAPI server + ASGI
fastapi
uvicorn[standard]

# ML model handling
scikit-learn
joblib

# API calls
requests
httpx

# Env variables
python-dotenv
fastapi
uvicorn
pydantic
numpy
pandas
scikit-learn
imbalanced-learn
joblib